.single-todo {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 15%;
    margin-top: 10%;
}

.mark-button, .unmark-button, .delete-button {
    height: 40%;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    color: #3a180e;
    background: Coral;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.buttons-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.todos-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    color: #3a180e;
    background: Coral;
    width: 65%;
    position: relative;
}

.edit-button {
    display: flex;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    color: #3a180e;
    background: Coral;
    cursor: pointer;
    -webkit-transform: rotateY(180deg);
    position: absolute;
    top: -2%;
    right: -1%;
    justify-content: center;
    font-size: 2vw;
    font-weight: 600;
    padding-right: 0.7vw;
}

.save-button {
    display: flex;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    color: #3a180e;
    background: Coral;
    cursor: pointer;
    position: absolute;
    top: -3%;
    right: -1%;
    height: 37%;
    width: 11%;
    line-height: 0vw;
    font-size: 2vw;
    font-weight: 600;
    font-style: normal;
    padding-right: 0.7vw;
}

.close-button {
    display: flex;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    color: #3a180e;
    background: Coral;
    cursor: pointer;
    position: absolute;
    bottom: -3%;
    right: -1%;
    height: 37%;
    width: 11%;
    line-height: 0vw;
    font-size: 2vw;
    font-weight: 600;
    font-style: normal;
    padding-right: 0.7vw;
}

.editable-input {
    position: relative;
    border: none;
    height: 50%;
    width: 50%;
    text-align: center;
    background: transparent
}

.editable-block {
    position: relative;
    display: flex;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    color: #3a180e;
    background: Coral;
    height: 16%;
    width: 90%;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.6vw;
}

@media(max-width:768px) {
    .edit-button {
        font-size: 6vw;
        border-radius: 2vw;
        border: 0.5vw solid #99492c;
        padding-right: 2vw;
    }
    
    .save-button {
        font-size: 6vw;
        border-radius: 2vw;
        border: 0.5vw solid #99492c;
    }

    .close-button {
        font-size: 6vw;
        border-radius: 2vw;
        border: 0.5vw solid #99492c;
    }

    .editable-block {
        border-radius: 2vw;
        border: 0.5vw solid #99492c;
    }
}