.editable-input {
    position: relative;
    border: none;
    height: 50%;
    width: 50%;
    text-align: center;
}

.editable-block {
    position: relative;
    display: flex;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    color: #3a180e;
    background: Coral;
    height: 16%;
    width: 90%;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.6vw;
}

@media(max-width:768px) {
    .editable-block {
      border-radius: 2vw;
      border: 0.5vw solid #99492c;
    }
  }