button#Refresh {
    position: relative;
    width: 18%;
    height: 10%;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    color: #3a180e;
    background: Coral;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media(max-width:768px) {
    button#Refresh {
      border-radius: 2vw;
      border: 0.5vw solid #99492c;
    }
}