.Popup {
    position: relative;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    background: Coral;
    height: 30px;
    padding: 10px;
    width: 100px;
    float: left;
    margin-left: 15px;
    margin-top: 150px;
    text-align: center;
    font-size: 70%;
    overflow: auto;
    display: none;
}

@media(max-width:768px) {
    .Popup {
      border-radius: 2vw;
      border: 0.5vw solid #99492c;
    }
  }