.blured-block {
    filter: blur(5px);
}

.loader-block {
    position: absolute;
    width: 85%;
    height: 16%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;
}

.small-loader {
    position: relative;
    z-index: 50;
    border: 0.5vw solid #f3f3f3;
    border-top: 0.5vw solid #000000;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media(max-width:768px) {
    .small-loader {
        border: 1.5vw solid #f3f3f3;
        border-top: 1.5vw solid #000000;
        border-radius: 50%;
        width: 9vw;
        height: 9vw;
    }
}