button[name="Mark_Button"], button[name="Unmark_Button"]  {
    position: absolute;
    right: 1%;
    top: 0;
    width: 22%;
    height: 40%;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    color: #3a180e;
    background: Coral;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media(max-width:768px) {
    button[name="Mark_Button"], button[name="Unmark_Button"] {
      border-radius: 2vw;
      border: 0.5vw solid #99492c;
    }
}