.fatherblock  {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 16%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}