.login-container {
    position: relative;
    border: 0.5vw solid #FF6347;
    border-radius: 1vw;
    background: LightSalmon;
    padding: 1vw;
    height: 75vh;
    width: 30vw;
    overflow: hidden;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media(max-width:768px) {
    .login-container {
        width: 95.5vw;
        border: 1.5vw solid #FF6347;
        border-radius: 2vw;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 79vh;
        margin: 0;
    }
}