.LoginInputBlock {
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    background: Coral;
    position: relative;
    padding: 1vw;
    height: 12%;
    margin-top: 3%;
}

input {
    width: 100%;
    height: 100%;
    background-color: Coral;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    color: #3a180e;
    outline: none;
    margin-left: 0px;
}

@media(max-width:768px) {
    .LoginInputBlock {
      border-radius: 2vw;
      border: 0.5vw solid #99492c;
    }

    input {
        border-radius: 2vw;
        border: 0.5vw solid #99492c;
      }
  }