.edit-button {
    display: flex;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    color: #3a180e;
    background: Coral;
    cursor: pointer;
    -webkit-transform: rotateY(180deg);
    position: absolute;
    top: -2%;
    right: -1%;
    height: 37%;
    width: 15%;
    justify-content: center;
    line-height: 0vw;
    font-size: 2vw;
    font-weight: 600;
    padding-right: 0.7vw;
}

@media(max-width:768px) {
    .edit-button {
        font-size: 6vw;
        border-radius: 2vw;
        border: 0.5vw solid #99492c;
        padding-right: 2vw;
    }
}
