html * {
  font-family: "URW Chancery L", cursive;
  font-style: oblique;
  font-size: 1.5vw;
}

body {
  margin: 0
}

form {
  margin-bottom: unset;
  width: 100%
}

#root {
  position: relative;
  display: block;
  height: 100%;
}

  .errorWindow {
    position: relative;
    border: 4px double black;
    background: Coral;
    height: 5%;
    width: 15%;
    float: left;
    margin-left: 15px;
    margin-top: 160px;
    text-align: center;
    font-size: 70%;
    overflow: auto;
  }

button {
overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 768px) {
  html * {
    font-size: 4.5vw;
  }

  body {
    overflow-x: hidden
  }
}