.native-app-block {
    height: 10vh;
    width: 30vw;
    border: 0.5vw solid #FF6347;
    border-radius: 1vw;
    background: LightSalmon;
    padding: 1vw;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.link-text {
    width: 50%;
}

.android-img {
    height: 75%;
}

@media(max-width: 768px) {
    .native-app-block {
        width: 95.5vw;
        border: 1.5vw solid #FF6347;
        border-radius: 2vw;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 15.5vh;
    }
}