.save-button {
    display: flex;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    color: #3a180e;
    background: Coral;
    cursor: pointer;
    position: absolute;
    top: -3%;
    right: -1%;
    height: 37%;
    width: 11%;
    line-height: 0vw;
    font-size: 2vw;
    font-weight: 600;
    font-style: normal;
    padding-right: 0.7vw;
}

@media(max-width:768px) {
    .save-button {
        font-size: 6vw;
        border-radius: 2vw;
        border: 0.5vw solid #99492c;
    }
}