.todo-container {
    position: relative;
    margin: 0 auto;
    border: 0.5vw solid #FF6347;
    border-radius: 1vw;
    background: LightSalmon;
    padding: 1vw;
    height: 90vh;
    width: 30vw;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    position: relative;
}

.space-between {
    justify-content: space-between;
    width: 100%
}

@media(max-width: 768px) {
    .todo-container {
        width: 95.5vw;
        border: 1.5vw solid #FF6347;
        border-radius: 2vw;
        height: 96.5vh;
    }
}