.block {
  position: relative;
  display: flex;
  border-radius: 1vw;
  border: 0.2vw solid #99492c;
  color: #3a180e;
  background: Coral;
  height: 100%;
  width: 70%;
  text-align: center;
  overflow: auto;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
}

@media(max-width:768px) {
  .block {
    border-radius: 2vw;
    border: 0.5vw solid #99492c;
  }
}