.blocktext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1vw;
  border: 0.2vw solid #99492c;
  background: Coral;
  position: relative;
  padding: 1vw;
  height: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.mainInput  {
  width: 74%;
  height: 100%;
  background-color: Coral;
  border-radius: 1vw;
  border: 0.2vw solid #99492c;
  color: #3a180e;
  outline: none;
}

button#Add  {
  position: relative;
  width: 24%;
  height: 100%;
  border-radius: 1vw;
  border: 0.2vw solid #99492c;
  color: #3a180e;
  background: Coral;
  cursor: pointer;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}


@media(max-width:768px) {
  .blocktext {
    border-radius: 2vw;
    border: 0.5vw solid #99492c;
  }

  .mainInput {
    border-radius: 2vw;
    border: 0.5vw solid #99492c;
  }

  button#Add {
    border-radius: 2vw;
    border: 0.5vw solid #99492c;
  }
}