  .titleblock  {
    background: Tomato;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1vw;
    border: 0.2vw solid #99492c;
    color: #3a180e;
}

.login {
    height: 10%;
    margin: 0 auto;
}

@media(max-width:768px) {
    .titleblock {
      border-radius: 2vw;
      border: 0.5vw solid #99492c;
    }
}